__pycache__/*
*.pyc
*.pyo

output/*
raw/*

Adolescent\ Survey_2022_20_09_10_37.sav
Community_2022_22_09_10_51.sav
Customer\ Satisfaction_2022_20_09_10_29.xlsx
Customer\ Satisfaction_2022_22_09_10_52.sav
Health\ Facility_2022_22_09_10_52.sav
GIRLS\ EMPOWEMENT.dta
