__pycache__/*
*.pyc
*.pyo

output/*
raw/*

~$*
Adolescent\ Survey_2022_20_09_10_37.sav
Community_2022_22_09_10_51.sav
Customer\ Satisfaction_2022_20_09_10_29.xlsx
Customer\ Satisfaction_2022_22_09_10_52.sav
Health\ Facility_2022_22_09_10_52.sav
GIRLS\ EMPOWEMENT.dta
UNICEF Tz_GRREAT Endline  Adolescents Survey_20240325.xlsx
UNICEF_Tz-_GRREAT_Endline_-_Customer_Satisfaction_Survey_-_all_versions_-_labels_-_2024-03-20-12-39-15.xlsx
UNICEF_Tz-_GRREAT_Endline_-_Health_Facility_Checklist_-_all_versions_-_labels_-_2024-03-28-09-01-12.xlsx
UNICEF Tz_GRREAT Endline Community Influencers Tool Female_2024-03-27.xlsx
UNICEF Tz-_GRREAT Endline Community Influencers Tool_Male_2024-03-27.xlsx
